<!-- <div class="hihi">{{title}}</div> -->


<form action="/sort"  method="get">

  Input array:<br>
  <input type="text" name="array" value=" "> <br>
  <input type="submit" value="Submit">

</form> 

<!-- <div class="hihi">{{array}}</div> -->